div.search-block.sticky#search_block
  div.search-block__input-wrapper
    form.search-block__input-wrapper__form(action="/search/")
      div.search-block__input-wrapper__logo
        div.input-group.input-group-lg.search-block__input-wrapper__input
          input(type='text', class='form-control', id='search', name="query" placeholder='Adidas x Barbour GSGNein Jacket')
        button(type='submit', class='btn ladda-button', id="search_btn", data-spinner-color="#000", data-style="slide-down")
          span.ladda-label
            img(src="/images/next.svg", width="22")
      div.search-block__input-wrapper__filters
        label.search-block__input-wrapper__filters__item.search-block__input-wrapper__filters__sort="lowest"
          input.hidden(type="checkbox")
        button.search-block__input-wrapper__filters__item.search-block__input-wrapper__filters__store="stores"
          ul.hidden
            li="Endclothing"
            li="Oipolloi"
        button.search-block__input-wrapper__filters__item.search-block__input-wrapper__filters__brand="brands"
